<footer>
  <div id="1">Tout droit réservé © 2025 ACD Motorsport</div>
  <div id="2">
    <a href="">Recherche</a>
    <span>|</span>
    <a href="">Compte</a>
  </div>
  <div id="3">
    <a href="https://x.com"
      ><img src="../public/images/footer/twitter-x-logo-42562.png" alt="X.com"
    /></a>
    <a href="https://youtube.com"
      ><img
        src="../public/images/footer/icons8-youtube-50.png"
        alt="Youtube.com"
    /></a>
    <a></a>
  </div>
</footer>
