footer {
  background-color: #0066cc;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #cce5ff;
}

footer span {
  color: white;
}

#1,
#2,
#3 {
  flex: 1;
  text-align: center;
}
